<a href="https://colab.research.google.com/github/zarkuslol/data-science-studies/blob/main/Exercicios_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercicios de Pandas (Favtutor)

### Link: https://favtutor.com/blogs/pandas-exercises-python

In [1]:
# importações

import pandas as pd

# Exercicio 1 - Converter lista para Series

In [3]:
nomes = ["Gabriela", "Antônio", "João", "Maria"]
nomes_df = pd.Series(nomes) # convertendo lista para Series
print(nomes_df)
type(nomes_df) # imprimindo o tipo de nomes_df

0    Gabriela
1     Antônio
2        João
3       Maria
dtype: object

pandas.core.series.Series

# Exercicio 2 - Converter lista para Series com indexação customizada

In [11]:
notas = [6.0, 7.0, 5.0, 9.0]
notas_df = pd.Series(notas, index=[x for x in range(1, len(notas) * 2, 2)]) # index -> customizando a indexação da série
notas_df

1    6.0
3    7.0
5    5.0
7    9.0
dtype: float64

# Exercicio 3 - Geração de Series com datas

In [13]:
datas = pd.date_range(start="1st May, 2021", end="12th May, 2021") # Atribuindo uma Series com range de datas
datas

DatetimeIndex(['2021-05-01', '2021-05-02', '2021-05-03', '2021-05-04',
               '2021-05-05', '2021-05-06', '2021-05-07', '2021-05-08',
               '2021-05-09', '2021-05-10', '2021-05-11', '2021-05-12'],
              dtype='datetime64[ns]', freq='D')

# Exericicio 4 - Implementar uma função para todo e qualquer elemento de uma Series

In [20]:
def quadrado(x):
  return x ** 2

teste = [1, 2, 3, 4, 5]
teste_s = pd.Series(teste)
teste_s.apply(quadrado) # *aplica* uma função em uma Series em todos os elementos

0     1
1     4
2     9
3    16
4    25
dtype: int64

In [21]:
teste = [1, 2, 3, 4, 5]
teste_s = pd.Series(teste)
teste_s.apply(lambda x: x ** 2) # aceita funções criadas separadamente ou lambda

0     1
1     4
2     9
3    16
4    25
dtype: int64

In [23]:
frutas = ["morango", "abacaxi", "uva", "kiwi", "melão"]
frutas_s = pd.Series(frutas)
frutas_s.apply(lambda x: x.capitalize()) # uso com strings

0    Morango
1    Abacaxi
2        Uva
3       Kiwi
4      Melão
dtype: object

# Exercicio 5 - Dicionário para um DataFrame

In [26]:
pessoas = {
    "Nome": ["Adriano", "Gabriela", "Hugo"],
    "Idade": [18, 20, 23],
    "Matriculado": [0, 1, 1]
}

pessoas_df = pd.DataFrame(pessoas) # transformando um dicionario em um DF
pessoas_df

       Nome  Idade  Matriculado
0   Adriano     18            0
1  Gabriela     20            1
2      Hugo     23            1

# Exercicio 6 - Lista 2D em DataFrame

In [31]:
lista2d = [["Lucas", 17, 1], 
           ["Matheus", 19, 1], 
           ["Estela", 23, 0]] # criando uma lista 2D

lista2d_df = pd.DataFrame(lista2d, columns=["Nome", "Idade", "Matriculado"]) # colocando os dados e nomeando as colunas
lista2d_df

      Nome  Idade  Matriculado
0    Lucas     17            1
1  Matheus     19            1
2   Estela     23            0